.projet{
    background-image: url(images/torii.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px 220px 220px;
    grid-gap: 1px;
    padding: 5px;
}
  
.grid-container > div {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
  }

.card {
    border: 2px solid #e7e7e7a1; 
    border-radius: 6px;
    width: 350px;
    height:530px;
    margin-left: 140px;
    background-color: #b8870b69;
}

@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .card{
    width: 100%;
  }
}
  
@media only screen and (max-width: 400px) { 
  .grid-container {
      width: 100%;
      }

  .card{
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .projet {
    width: 100%;
  }
}
  
@media only screen and (max-width: 400px) {
  .projet {
      width: 100%;
      }
}